h2 {
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	margin-top: 30px;
}

#addContactForm {
	margin-top: 10px;
}

#name {
	margin-top: 20px;
	width: 100%;
	padding: 5px;
	font-size: 17px;
}

 #address, #number {
	margin-top: 30px;
	width: 100%;
	padding: 5px;
	font-size: 17px;
}

#address {
	margin-bottom: 20px;
	width: 100%;
	height: 8em;
}

#submit {
	font-size: 17px;
	margin-bottom: 20px;
}

#successMessage {
	margin-top: 20px;
	font-size: 17px;
	color: #0000cc;
}

#failureMessage {
	margin-top: 20px;
	font-size: 17px;
	color: #FF0000;
}

#contacts {
	margin-left: 5%;
}

#contacts_table {
	margin-top: 30px;
	margin-bottom: 0;
}

.table>tbody>tr>th {
	padding: 5px;
	font-size: 17px;
}

td {
	padding: 5px;
	font-size: 17px;
}

h4 {
	margin-top: 30px;
	font-size: 18px;
	color: #ff0000;
}

#form_buttons {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
	padding: 5px;
	text-align: center;
}

#back {
	margin-right: 20px;
}

#delete {
	margin-left: 20px;
}
