<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/style.css}" />
	<title>Address Book</title>
</head>
<body>
	<div class="container">
		<div class="row"> 
			<h2> Address Book </h2>
			<div class="col-lg-6 col-lg-offset-3 no-padding">
				<h3> Edit Contact </h3>
				<form id="editContactForm" th:action="@{/contact/+ ${selectedContact}}"
				th:object="${contact}"  method="post">
				    <input type="hidden" th:field="*{id}">
					<input id="name" type="text" th:field="*{name}"
						autocomplete="off" placeholder="Name" autofocus="autofocus"
						required="true"></input> <br /> 
					<input id="number" type="text" maxlength="10" pattern="[0,7-9]{1}[0-9]{9}"
						th:field="*{number}" autocomplete="off" 
						placeholder="Contact Number (10 digit number starting with 0/7/8/9)"
						required="true"></input> <br/>
					<textarea id="address" th:field="*{address}" autocomplete="off" 
						placeholder="Address" required="true"></textarea>  <br/>
					<div id="form_buttons">	
					    <input id="back" type="Submit" name="action" 
							value="Go Back" class="btn btn-primary btn-md"></input> 
						<input id="save" type="Submit" name="action" 
							value="Save Details" class="btn btn-primary btn-md"></input> 
						<input id="delete" type="Submit" name="action" 
							value="Delete User" class="btn btn-danger btn-md">
					</div><br/> 
					<span id="successMessage" th:if="${successMessage}" th:text="${successMessage}"></span> 
					<span id="failureMessage" th:if="${failureMessage}" th:text="${failureMessage}"></span>
				</form>
			</div>
		</div>
	</div>
</body>
</html>