<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/style.css}" />
	<title>Address Book</title>
</head>
<body>
	<div class="container">
		<div class="row"> 
			<h2> Address Book </h2>
			<div class="col-lg-5 no-padding">
				<h3> Add Contact </h3>
				<form id="addContactForm" th:action="@{/}"
				th:object="${contact}"  method="post">
					<input id="name" type="text" th:field="*{name}"
						autocomplete="off" placeholder="Name" autofocus="autofocus"
						required="true"></input> <br /> 
					<input id="number" type="text" maxlength="10" pattern="[0,7-9]{1}[0-9]{9}"
						th:field="*{number}" autocomplete="off" 
						placeholder="Contact Number (10 digit number starting with 0/7/8/9)"
						required="true"></input> <br/>
					<textarea id="address" th:field="*{address}" autocomplete="off"
						placeholder="Address" required="true"></textarea>  <br/>
					<input id="submit" type="Submit"
						value="Submit" class="btn btn-primary btn-md"></input> <br /> 
					<span id="successMessage" th:if="${successMessage}" th:text="${successMessage}"></span> 
					<span id="failureMessage" th:if="${failureMessage}" th:text="${failureMessage}"></span>
				</form>
			</div>
			<div id="contacts" class="col-lg-6 no-padding">
				  <h3>Available Contacts</h3>
                  <div th:if="${not #lists.isEmpty(contacts)}" >
                     <div>
                        <table id="contacts_table" class="table table-striped" >
                           <tr>
                              <th style="width: 30%" class="bordered-column">Name</th>
                              <th style="width: 30%" class="bordered-column">Contact Number</th>
                              <th style="width: 40%" class="bordered-column">Address</th>
                           </tr>
                        </table>
                     </div>
                     <div style="overflow-y: scroll; height: 300px">
                        <table class="table table-striped" >
                           <tr th:each="contact : ${contacts}">
                              <td style="width: 30%" class="bordered-column"><a th:href = "@{'/contact/' + ${contact.id}}" th:text="${contact.name}"> </a></td>
                              <td style="width: 30%" class="bordered-column" th:text="${contact.number}"></td>
                              <td style="width: 40%" class="bordered-column" th:text="${contact.address}"></td>
                           </tr>
                        </table>
                     </div>
                  </div>
                  <div th:if="${#lists.isEmpty(contacts)}">
                     <h4>There are currently no contacts to display</h4>
                  </div>
               </div>
		</div>
	</div>
</body>
</html>